body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: rgb(255,50,31);
background: linear-gradient(90deg, rgba(255,50,31,0.9327380610447304) 18%, rgba(0,255,116,1) 50%, rgba(255,0,0,0.7562674728094363) 82%);
}

#soat {
    font-size: 72px;
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    padding: 50px 100px;
    border-radius: 10px;
}

.korobka {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    padding: 100px 250px;
    border-radius: 10px;
}

.soat1{
    position: absolute;
    top: 200px;
    left: 260px;
}


.soat2{
    position: absolute;
    top: 200px;
    right: 290px;
}